<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/CSS/menu-reservas.css">
    <title>Hotel Paradise</title>
</head>

<body>
    <main>

        <section class="bloq-reserva">

            <h1>SISTEMA DE RESERVAS</h1>

            <br>
            <form class="data-inputs" th:action="@{reservas/addNew}" method="post">
                <div class="datadiv">
                    <h2>FECHA DE CHECK IN</h2>
                    <div>
                        <input type="date" name="fechaEntrada" id="check-in-date">
                    </div>
                </div>

                <br>

                <div class="datadiv">
                    <h2>FECHA DE CHECK OUT</h2>
                    <div>
                        <input type="date" name="fechaSalida" id="check-out-date">
                    </div>
                </div>

                <br>

                <div class="datadiv">
                    <h2>VALOR</h2>
                    <div>
                        <input type="number" id="money" step="1" min="0" placeholder="$" name="valor">
                    </div>
                </div>

                <br>

                <div class="datadiv">
                    <h2>FORMA DE PAGO</h2>
                    <select id="paymethod" name="formaDePago">
                        <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                        <option value="Tarjeta de Débito">Tarjeta de Débito</option>
                        <option value="Pago en Efectivo">Pago en Efectivo</option>
                    </select>
                </div>

                <a class="button" th:href=@{/huespedes}>
                    <button type="submit">SIGUIENTE</button> 
    
                </a>

            </form>

        </section>

        <section class="bloq-img">
            <img class="logo" src="../../../../../../Imagenes/logo%20circular%20completo.png" alt="Logo Hotel Paradise">
            <img class="book" src="../../../../../../Imagenes/book.png" alt="Reservas Hotel Paradise">
        </section>

    </main>

    <script src="../JS/fecha-validacion-reserva.js"></script>

    <footer>
        <p>Diseñado y Desarrollado por José Luis Garza Espinoza © 2023. </p>
    </footer>

</body>

</html>