<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../CSS/menu-inicio.css">
    <title>Hotel Paradise</title>
</head>

<body>
    
    <main>
        <section class="bloq-img">
            <img class="img-inicio" src="../Imagenes/img-inicio2.png" alt="Imagen Bienvenida">
        </section>
        <section class="bloq-login">
            <div class="logo">
                <img src="../Imagenes/Logo%20circular%202.png" alt="Logo Hotel Paradise">
            </div>
            <a class="icono-login" th:href="@{/login}">
                <div class="letra-icono">
                    <p>LOGIN</p>
                    <br>
                </div>
                <div class="icono">
                    <img src="../Imagenes/circulo-de-usuario%20(1).png" alt="Icono de Usuario">
                </div>
            </a>
        </section>
    </main>

    <footer>
        <p>Diseñado y Desarrollado por José Luis Garza Espinoza © 2023. </p>
    </footer>

</body>

</html>