<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/CSS/menu-huespedes.css">
    <title>Hotel Paradise</title>
</head>

<body>
    <main>

        <section class="bloq-img">
            <img class="logo" src="../../../../../../Imagenes/logo%20circular%20completo.png" alt="Logo Hotel Paradise">
            <img class="huesped" src="../../../../../../Imagenes/img-huespedes.png" alt="Reservas Hotel Paradise">
        </section>

        <section class="bloq-huesped">

            <h1>REGISTRO HUÉSPED</h1>

            <br>
            <form class="data-inputs" th:action="@{huespedes/addNew}" method="post" id="formulario-huespedes">

                <div class="datadiv">
                    <h2>NOMBRE</h2>
                    <div>
                        <input type="text" id="name" name="nombre" required>
                    </div>
                </div>

                <br>

                <div class="datadiv">
                    <h2>APELLIDOS</h2>
                    <div>
                        <input type="text" id="lastname" name="apellido" required>
                    </div>
                </div>

                <br>

                <div class="datadiv">
                    <h2>FECHA DE NACIMIENTO</h2>
                    <div>
                        <input type="date" id="born-date" name="fechaNacimiento" required>
                    </div>
                </div>

                <br>

                <div class="datadiv">
                    <h2>NACIONALIDAD</h2>
                    <select id="nationality" name="pais" required>
                        <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.nombre}"></option>
                    </select>
                </div>

                <br>

                <div class="datadiv">
                    <h2>TELEFONO</h2>
                    <div>
                        <input type="tel" id="telefono" name="telefono" pattern="[0-9]{4,15}" required>
                    </div>
                </div>

                <br>

                <div class="datadiv">
                    <h2>NUMERO DE RESERVA</h2>
                    <div>
                        <input type="number" id="reservation-number" name="reserva" th:value="${idReserva}" required readonly>
                    </div>
                </div>

                <br>

                <a class="button" th:href=@{search/reservas}>
                    <button type="submit">SIGUIENTE</button> <!-- TIENE QUE CAMBIARSE A UN -->
    
                </a>

            </form>

        </section>


    </main>

    <script src="../JS/formulario-huespedes.js"></script>


    <footer>
        <p>Diseñado y Desarrollado por José Luis Garza Espinoza © 2023. </p>
    </footer>

</body>

</html>