<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/CSS/menu-usuario.css">
    <title>Hotel Paradise</title>
</head>

<body>


    <main>

        <section class="options">
            <img src="../../../../../../Imagenes/logo%20circular%20completo.png" alt="Logo Hotel Paradise" class="logo">
            <div class="divider"></div>
            <br>
            <ul>
                <a href="/Menu-Reservas/menu-reservas.html">
                    <li>
                        <img src="../../../../../../Imagenes/calendar-check.png" alt="Registro de Reservar" class="icon">
                        Registro de Reservas
                    </li>
                </a>
                <a href="">
                    <li>
                        <img src="../../../../../../Imagenes/buscar.png" alt="Busqueda" class="icon">
                        Busqueda
                    </li>
                </a>
            </ul>
        </section>

        <section class="information">

            <header>
                <h3>Sistema de reservas Hotel Paradise</h3>
                <br>
                <h1>Hoy es 12/07/2023</h1>
            </header>
            <section class="content-information">
                <h1>¡Bienvenido!</h1>
                <br>
                <p>Sistema de reservas hotel. Controle y administre de forma óptima y fácil el flujo de reservas y de
                    húespedes del hotel.</p>
                <br>
                <p>Esta herramienta le permitirá llevar un control completo y detallado de sus reservas y huéspedes, tendrá
                    acceso a herramientas especiales para tareas específicas como lo son:</p>
                <br>
                <ul>
                    <li>Registro de Reservas y Huéspedes</li>
                    <li>Edición de Reservas y Huéspedes existentes</li>
                    <li>Eliminar todo tipo de Registros</li>
                </ul>
            </section>
        </section>

    </main>


    <footer>
        <p>Diseñado y Desarrollado por José Luis Garza Espinoza © 2023. </p>
    </footer>


</body>

</html>